extends layout

block content
    .container
        .jumbotron#img-1
            h1 About Us
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum explicabo illo maxime placeat consequatur, provident accusamus facilis? Inventore voluptas, vitae quis impedit dolor velit quos tempora fugit similique laboriosam!
            input(type='button', value='About route').btn.btn-primary
