extends layout

block content
    .container
        .jumbotron
            h1.
                Info: #{message}
            h2.
                Status: #{error.status}
            pre #{error.stack}
            a.btn.btn-danger(href="/") Accept
