extends layout

block content
    .jumbotron#img-4
        .container
            h1 How may i help you?
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus beatae provident excepturi possimus suscipit, sint, sapiente saepe quae unde officia sit dolorem quidem, consequatur sed rem velit nam expedita aut!
            a.btn.btn-primary.btn-lg(href='#') Lern more &raquo;
    .container
        .row
            .col-sm-4
                h2 About
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis temporibus, culpa voluptate at repellendus sunt optio veritatis nostrum. Quas ut dolores vitae adipisci voluptates fugit itaque incidunt hic saepe enim.
                a.btn.btn-primary(href='#') View Details
            .col-sm-4
                h2 Get In Touch
                p Lorem, adipisicing elit. Reiciendis temporibus, sunt optio veritatis nostrum. Quas ut dolores vitae adipisci voluptates fugit itaque incidunt hic saepe enim.
                a.btn.btn-danger(href='#') View Details
            .col-sm-4
                h2 Services
                p Lorem ipsum dolor sit amet, consectetu. Reiciendis temporibus, culpa voluptate at repellendus sunt optio veritatis nostrum. Quas ut dolores vitae adipisci voluptates fugit itaque incidunt hic saepe enim.
                a.btn.btn-warning(href='#') View Details
