extends layout

block content
    .container
        .jumbotron#img-3
            h1 Services
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolores dolorum hic praesentium quidem, dicta voluptate, velit quod necessitatibus temporibus iste voluptatibus id perspiciatis veniam nemo eligendi debitis cumque, suscipit.
            input(type='button', role='button', value='Services route').btn.btn-warning